html {
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
  
}

header {

  color: black;
  text-align: center;
  padding: 10px;
}

center {
  height: 100%  
}
body {
  font-family: sans-serif;
  margin: 20px;
  height: 100%
}

form {
  width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}


textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #d2042d;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.trinhdon {
  display: flex;
  background-color: #9ACBD0;
  padding: 10px;
  }
.trinhdon a{
  padding: 5px 10px; 
  margin-right: 5px; 
  text-decoration: none; 
  color: #ffffff; 
}
.content{
  height: 100%;
  background-color: #48A6A7;
}

.trinhdon a:hover{
  background-color: #fbdae1;
}
.chinh{
  height: 550px;
  
}
